* {
    font-family: 'Satoshi', sans-serif;
    padding: 0;
    margin: 0;
}

.counter {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 7px 15px #dedede;
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.counter .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #0800ff;
}

.counter .title .close {
    width: 20px;
    height: 20px;
    background-color: red;
    border: none;
    margin-right: 10px;
    color: #fff;
    cursor: pointer;
}

.counter .title label {
    padding: 10px;
    color: #fff;
    font-size: .85rem;
}

.counter .operations button {
    margin: 10px;
    width: 100px;
    height: 30px;
    border: 2px solid #fff;
    background-color: #e0dfff;
    border-radius: 6px;
    color: #000000;
    cursor: pointer;

    &:hover {
        box-shadow: 0px 0px 0px 3px #6e8fd547;
        transition: all .2s;
    }
}


.counter .count label {
    font-size: 4rem;
}

@media screen and (max-width: 568px) {
    .counter {
        width: 380px;
    }
}